.header {
    padding: 30px 30px;
    background-color: #fe4a49;
    box-shadow: 0px 2px 5px 0px rgba(34, 60, 80, 0.2);
}

.headerRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    .headerRow {
        justify-content: space-between;
    }
}
