.game {
    margin-top: 25px;
    padding: 0 10px;
    padding-bottom: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.gameContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.gameRow {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 80% calc(20% - 20px);
    grid-column-gap: 20px;
}

@media (max-width: 850px) {
    .gameRow {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}
