:root {
    --accent-red: #fe4a49;
    --accent-red-darker: #d33434;

    --accent-yellow: #fed766;
    --accent-yellow-lighter: #ffe9af;

    --accent-blue: #2ab7ca;
    --accent-blue-lighter: #2fd9ef;

    --accent-grey: #808080FF;
}

body {
    background-color: #f2f2f2;
}