:root {
    --accent-red: #fe4a49;
    --accent-red-darker: #d33434;

    --accent-yellow: #fed766;
    --accent-yellow-lighter: #ffe9af;

    --accent-blue: #2ab7ca;
    --accent-blue-lighter: #2fd9ef;

    --accent-grey: #808080FF;
}

@font-face {
  font-family: "Luckiest Guy";
  font-display: swap;
  src:
          url('./assets/fonts/luckiestguy.otf') format('opentype'),
          url('./assets/fonts/luckiestguy.ttf') format('truetype')
;
}

body {
  font-family: "Luckiest Guy", cursive !important;
  background-color: #f2f2f2;
}

